<!-- tag HEAD do site-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perguntas</title>
<!--Bootstrap-->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!--Quando existe a pasta public criada com o express.static não é necessario colocar o diretorio dela-->
<link rel="stylesheet" href="/css/style.css">