<!-- BARRA DE NAVEGAÇÃO DO SITE -->

<header class="bg-dark space">
    <nav class="navbar container">
        <a  class="nav-item" href="/">
           <h1 class="logo centralize">Your<span>Question</span></h1> 
        </a>
    </nav>
</header>