<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--conteudo da tag head-->
    <%- include ('partials/head.ejs'); %>
</head>

<body class="-bg-color">
    <!--navbar-->
    <%- include('partials/nav.ejs'); %>
        <h1 class="title">Estilo do bootstrap</h1>

    <!--footer-->
    <%- include('partials/footer.ejs'); %>
</body>

</html>