<!-- LOCALHOST/perguntar-->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--Adiciona o conteudo da tag head-->
    <%- include ('partials/head.ejs'); %>
</head>
<body class="bg-color ">
    <!--Adiciona navbar-->
    <%- include('partials/nav.ejs'); %>
    <section class="container main-content">
        <div class="form-color card">
            <!--Titulo-->
            <div class="card-header">
                <h1 class="title">Perguntas</h1>
            </div>
            <article>
                <div class="card-body">
                    <!--Formulario com as perguntas-->
                    <h2>Realizar Pergunta</h2>
                    <form method="POST" action="/salvarpergunta">
                        <!--TItulo-->
                        <br><label for="title">Titulo</label>
                        <input class="form-control" type="text" placeholder="titulo" name="title" id="title">
                        <!--Descrição-->
                        <br><label for="desc">Descrição</label>
                        <textarea id="desc" name="desc" class="form-control" rows="5"
                            placeholder="Descreva sua pergunta aqui..."></textarea>
                        <br>
                        <input type="submit" value="Perguntar" class="btn btn-warning">
                    </form>
                </div>
            </article>
            <!--Realizar perguntas-->
        </div>
        <!--Card-head-->
    </section>
    <!--Perguntas-->

</body>
<!--Adiciona footer-->
<%- include ('partials/footer.ejs'); %>

</html>